<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Price</title>
</head>
<body>
<h2>Узнать стоимость криптовалюты</h2>

<form action="/price" method="GET">
  <label for="currency1">Currency 1:</label>
  <input type="text" id="currency1" name="currency1"><br><br>

  <label for="currency2">Currency 2:</label>
  <input type="text" id="currency2" name="currency2"><br><br>

  <input type="submit" value="Go">
  <p>For exmp:<br>BTC/USD, ETH/USD, ADA/USD, SOL/BTC...</p>
</form>


<h2>Узнать скользящую среднюю $</h2>

<form action="/ma" method="GET">
  <label for="startDate">Start Date:</label>
  <input type="datetime-local" id="startDate" name="startDate"><br><br>

  <label for="endDate">End Date:</label>
  <input type="datetime-local" id="endDate" name="endDate"><br><br>

  <label for="interval">Interval:</label>
  <select id="interval" name="interval">
    <option value="10">10 минут</option>
    <option value="30">30 минут</option>
    <option value="60">60 минут</option>
    <option value="720">12 часов</option>
    <option value="1440">1 день</option>
    <option value="10080">1 неделя</option>
  </select><br><br>

  <label for="currency">Currency(BTC, ETH and ADA):</label>
  <input type="text" id="currency" name="currency" style="width: 4%;"><br>

  <input type="submit" value="Go">
</form>
</body>
</html>